<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <title>title</title>
    <link rel="stylesheet" href="stylesheets/bootstrap.css" type="text/css">
  </head>
  <body id="page-top">
      <a href="/logout">Log Out</a>

      <% if Helper.is_logged_in?(session) %>
        <h3>Hello, <%= current_user.username %>!</h3>
        <h4>Your current balance is $<%= current_user.balance.to_s %>.</h4>
      <% else %>
        <a href="/index">Home Page</a>
      <% end %>

  </body>
</html>
